package view_team

import "ultigamecast/models"
import "ultigamecast/view/layout"
import "fmt"

templ TeamPage(team *models.Team) {
	@view_layout.NavLayout() {
		{ team.Name }
		<div
			hx-get={ fmt.Sprintf("%s/players", team.Slug) }
			hx-swap="outerHTML"
			hx-trigger="load"
			class="center"
		>
			<progress class="circle"></progress>
		</div>
	}
}
