package game

import "ultigamecast/pbmodels"
import "github.com/labstack/echo/v5"

templ GameEventList(c echo.Context, events []*pbmodels.Events) {
	<div class="flex flex-col items-center">
        for _, e := range events {
            @GameEvent(e)
        }
    </div>
}

templ GameEvent(event *pbmodels.Events) {
	<div>
		{ string(event.Type) }
	</div>
}
