body {
  font-family: Poppins;
}

is-gap-0 {
  gap: 0;
}
is-gap-1 {
  gap: 0.25 rem;
}
is-gap-2 {
  gap: 0.5 rem;
}
is-gap-3 {
  gap: 0.75 rem;
}
is-gap-4 {
  gap: 1 rem;
}

.htmx-request .button.htmx-loading:after,
.htmx-request.button.htmx-loading:after,
.htmx-request .control.htmx-loading:after,
.htmx-request.control.htmx-loading:after,
.htmx-request .select.htmx-loading:after,
.htmx-request.select.htmx-loading:after {
  animation: spinAround 0.5s linear infinite;
  border-bottom: 2px solid var(--bulma-loading-color);
  border-left: 2px solid var(--bulma-loading-color);
  border-radius: var(--bulma-radius-rounded);
  border-right: 2px solid transparent;
  border-top: 2px solid transparent;
  content: "";
  display: block;
  height: 1em;
  position: relative;
  width: 1em;
}

.htmx-request.button.htmx-loading,
.htmx-request .button.htmx-loading {
  box-shadow: none;
  color: transparent !important;
  pointer-events: none;
}

.htmx-request .button.htmx-loading:after,
.htmx-request.button.htmx-loading:after {
  position: absolute;
  position: absolute !important;
  top: calc(50% - 0.5em);
}

.htmx-request.select.htmx-loading:after,
.htmx-request .select.htmx-loading:after {
  margin-top: 0;
  position: absolute;
  top: 0.625em;
  transform: none;
}

.htmx-request.select.htmx-loading.is-small:after,
.htmx-request .select.htmx-loading.is-small:after {
  font-size: var(--bulma-size-small);
}

.htmx-request.select.htmx-loading.is-medium:after,
.htmx-request .select.htmx-loading.is-medium:after {
  font-size: var(--bulma-size-medium);
}

.htmx-request.select.htmx-loading.is-large:after,
.htmx-request .select.htmx-loading.is-large:after {
  font-size: var(--bulma-size-large);
}

.htmx-request.control.htmx-loading:after,
.htmx-request .control.htmx-loading:after {
  inset-inline-end: 0.75em;
  position: absolute !important;
  top: 0.75em;
  z-index: 4;
}

.htmx-request.control.htmx-loading.is-small:after,
.htmx-request .control.htmx-loading.is-small:after {
  font-size: var(--bulma-size-small);
}

.htmx-request.control.htmx-loading.is-medium:after,
.htmx-request .control.htmx-loading.is-medium:after {
  font-size: var(--bulma-size-medium);
}

.htmx-request.control.htmx-loading.is-large:after,
.htmx-request .control.htmx-loading.is-large:after {
  font-size: var(--bulma-size-large);
}

.hover-primary-text:hover {
  --bulma-color-l: var(--bulma-primary-l);
  --bulma-color-l-delta: 0%;
  color: hsl(171deg, 100%, calc(41% + 0%)) !important;
}
