package util

import (
	"log"
	"net/url"
	"cmp"
)

func JoinSlugs(elem... string) templ.SafeURL {
	arr := make([]string, len(elem))
	for i, el := range elem {
		arr[i] = cmp.Or(el, "_")
	}
	if path, err := url.JoinPath(arr[0], arr[1:]...); err != nil {
		log.Printf("Could not generate path for %v: %s\n", elem, err)
		return templ.SafeURL("/error")
	} else {
		return templ.URL(path)
	}
}

func JoinSlugsString(elem... string) string {
	return string(JoinSlugs(elem...))
}
