package component

templ IconBlurbConditional(icon templ.Component, show bool) {
	if show {
		<div class="flex items-center gap-1 text-gray-400">
			@icon
			{ children... }
		</div>
	}
}

templ IconBlurb(icon templ.Component) {
	@IconBlurbConditional(icon, true) {
		{ children... }
	}
}
