package view_game

import "ultigamecast/internal/models"
import "ultigamecast/web/view/layout"

templ GamePage(g *models.Game) {
	@view_layout.NavLayout() {
		<section class="section px-0">
			@scoreCard(g)
		</section>
	}
}
